<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title><%= yield(:title) %> | Task App</title>
=======
    <title><%= yield(:title) %> | Task App </title>
>>>>>>> contact,help
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>